main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

::selection {
  background-color: #ff7676;
}

#todolist {
  min-width: 800px;
  max-width: 550px;
  padding: 20px 15px;
  background-color: #ff6666;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#heading {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.598);
}

#todolist h1 {
  font-size: 40px;
  font-weight: 400;
}

#todolist p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}

#input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#input input {
  width: 50%;
  padding: 15px;
  background-color: #ff7676;
  outline: 1px solid rgba(255, 255, 255, 0.598);
  caret-color: rgba(255, 255, 255, 0.598);
  border: none;
  color: white;
}

#input input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.598);
  color: white;
  border: none;
}
#input input::placeholder {
  color: white;
}

#input button {
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  border: 1px rgba(255, 255, 255, 0.598) solid;
  color: white;
}

#input button:hover {
  background-color: #f95858;
}

#newtodo-box {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#newtodo-box::-webkit-scrollbar {
  width: 20px;
}

#newtodo {
  width: 100%;
  height: 64px;
  background-color: #ff7676;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 17px;
  margin-bottom: 15px;
}

#newtodo li {
  width: 100%;
  font-size: 16px;
  margin-left: 10px;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#newtodo i {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

#edit-input {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}

#edit-input input {
  width: 80%;
  padding: 15px;
  background-color: #ff7676;
  outline: 1px solid rgba(255, 255, 255, 0.598);
  caret-color: rgba(255, 255, 255, 0.598);
  border: none;
  color: white;
}

#edit-input input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.598);
  color: white;
  border: none;
}

#edit-input input::placeholder {
  color: white;
}

#edit-input button {
  padding: 15px 30px;
  background-color: transparent;
  cursor: pointer;
  border: 1px rgba(255, 255, 255, 0.598) solid;
  color: white;
}

#edit-input button:hover {
  background-color: #f95858;
}
